---
interface Props {
  title: string;
  value: string;
  text: string;
}

const { title, text, value } = Astro.props;
---

<div
  class="w-44 h-24 md:w-[244px] md:h-32 rounded-lg shadow-md flex justify-between p-3 bg-white">
  <div class="flex justify-between flex-col">
    <h2 class="text-[12px] md:text-sm font-semibold">{title}</h2>
    <p class="font-extrabold text-sm md:text-xl">{value}</p>
    <span class="text-[6px] text-slate-500 md:text-xs">{text}</span>
  </div>
  <div class="min-h-full flex items-center">
    <slot />
  </div>
</div>

<style>
  span {
    font-size: 11px;
  }
</style>
