---
import Layout from "../layouts/Layout.astro";
import GestionCategorias from "../components/categorias/GestionCategorias.jsx";
---

<Layout title="Categorias">
  <div>
    <GestionCategorias client:load />
  </div>
</Layout>
