---
import Layout from "../layouts/Layout.astro";
import GestionInventario from "../components/inventario/GestionInventario.jsx";
const cookies = Astro.cookies;
const authToken = cookies.get("access_token");
const isAuthenticated = authToken !== undefined;
if(!isAuthenticated){
  return Astro.redirect('/auth')
}
---

<Layout title="Inventario">
  <div class="contendor-inventario">
    <GestionInventario client:load />
  </div>
</Layout>
