---
import LayoutUsers from "../../layouts/LayoutUsers.astro";
const cookies = Astro.cookies;
const authToken = cookies.get("access_token");
const isAuthenticated = authToken !== undefined;
if(!isAuthenticated){
  return Astro.redirect('/auth')
}

---

<LayoutUsers>
   <p>Listado de roles</p>
</LayoutUsers>