---
const {id} = Astro.params
import Layout from '../../layouts/Layout.astro'
---
<Layout title=`Detalles del pedido ${id}`>
    <h1>Algo salio mal al listar los pedidos de este usuario</h1>
</Layout>
  